.header{
   background-image: url(../img/header-bgimage.png);
   background-repeat: no-repeat;
   background-size: 100%;
   padding: 25px 0px 60px;
   position: relative;
   z-index: 1;
}
.header--active .lang{
   top: 75px;
   opacity: 1;
}
.header--active .platforms__lang-arrow{
   transform: rotate(360deg);
}
.header__inner{
   display: flex;
   flex-direction: column;
}
.header__links-box{
   display: flex;
   align-items: center;
   margin-bottom: 265px;
}
.nav{
   margin-left: 175px;
   margin-right: auto;
}
.nav__list{
   display: flex;
   margin: 0px;
   padding: 0px;
   list-style: none;
}
.nav__item + .nav__item{
   margin-left: 50px;
}
.nav__link{
   font-family: "Open Sans";
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 16px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   text-decoration: none;
   color: #FFFFFF;
   transition: 0.2s ease;
}
.nav__link:hover{
   color: #FFB548;
}
.platforms{
   display: flex;
   align-items: center;
}
.platforms__lang{
   display: flex;
   align-items: center;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 16px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   text-decoration: none;
   color: #FFFFFF;
   transition: 0.2s ease;
   &:hover{
      color: #FFB548;
   }
}
.platforms__lang-arrow{
   margin-left: 5px;
   transform: rotate(180deg);
   transition: 0.6s ease;
}
.lang{
   margin: 0px;
   padding: 0px;
   list-style: none;
   position: absolute;
   z-index: 3;
   top: -75px;
   padding: 5px 10px;
   background: rgba(0, 0, 0, 0.75);
   border-radius: 3px;
   transition: 1s ease;
   opacity: 0;
}
.lang__link{
   font-family: "Open Sans";
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 16px;
   text-align: right;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   text-decoration: none;
   color: #FFFFFF;
   transition: 0.2s ease;
   &:hover{
      color: #FFB548;
   }
}
.platforms__list{
   display: flex;
   align-items: center;
   margin: 0px;
   padding: 0px;
   list-style: none;
   margin-left: 50px;
   position: relative;
   z-index: 1;
   &::before{
      content: "";
      width: 1px;
      height: 30px;
      background-color: #FFFFFF;
      position: absolute;
      z-index: 1;
      border-radius: 5px;
      left: -25px;
      opacity: 0.5;
   }
}
.platforms__item + .platforms__item{
   margin-left: 20px;
}
.platforms__link{
   transition: 0.2s ease;
}
.platforms__link:hover{
   opacity: 0.7;
}
.base{
   margin: 0px auto;
   text-align: center;
   margin-bottom: 365px;
}
.base__title{
   font-family: "Bebas Neue";
   font-style: normal;
   font-weight: bold;
   font-size: 80px;
   line-height: 80px;
   text-align: center;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-top: 0px;
   margin-bottom: 8px;
}
.base__describe{
   font-family: "Bebas Neue";
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 24px;
   letter-spacing: 2px;
   color: #FFFFFF;
   margin-top: 0px;
   margin-bottom: 25px;
}
.base__link{
   display: flex;
   width: 260px;
   padding: 18.5px 17px;
   background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
   border-radius: 4px;
   margin: 0px auto;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   text-decoration: none;
   color: #1A1917;
   position: relative;
   z-index: 1;
   &:hover{
      opacity: 0.85;
   }
   &::before{
      content: "";
      width: 1px;
      height: 30px;
      background-color: #1A1917;
      position: absolute;
      z-index: 1;
      border-radius: 5px;
      left: 180px;
      top: 15px;
      opacity: 0.5;
   }
}
.base__link-price{
   display: inline-block;
   margin-left: auto;
}
.story{
   margin: 0px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-decoration: none;
}
.story:hover > .story__text{
   color: #FFB548;
}
.story:hover > .story__img > .story__path{
   stroke: #FFB548;
}
.story__text{
   font-family: "Open Sans";
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 22px;
   text-align: justify;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 6px;
   transition: 0.2s ease;
}
.story__path{
   transition: 0.2s ease;
}